.wd-setting{
    padding: 5px;
    margin-bottom: 5px;
    border-style: solid;
    border-color: grey;
}

.wd-padding{
    padding-top: 10px;
}

.wd-paddingbottom{
    padding-bottom: 10px;
}

.wd-grey{
    color: grey;
}